# Default owners for everything in the repo
* @innago-property-management/innago-open-source

# Python source
api_agent/ @innago-property-management/innago-open-source
tests/ @innago-property-management/innago-open-source

# CI/CD
.github/ @innago-property-management/innago-open-source

# Documentation
*.md @innago-property-management/innago-open-source
