{
  "openapi": "3.0.0",
  "info": {
    "title": "icanhazdadjoke",
    "description": "The internet's largest selection of dad jokes. No auth required.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://icanhazdadjoke.com" }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getRandomJoke",
        "summary": "Get a random dad joke",
        "responses": {
          "200": {
            "description": "A random dad joke",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Joke" }
              }
            }
          }
        }
      }
    },
    "/j/{joke_id}": {
      "get": {
        "operationId": "getJokeById",
        "summary": "Get a specific dad joke by ID",
        "parameters": [
          {
            "name": "joke_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested joke",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Joke" }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchJokes",
        "summary": "Search for dad jokes",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Search term"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1 },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 20, "maximum": 30 },
            "description": "Results per page (max 30)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResults" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Joke": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "joke": { "type": "string" },
          "status": { "type": "integer" }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer" },
          "limit": { "type": "integer" },
          "next_page": { "type": "integer" },
          "previous_page": { "type": "integer" },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Joke" }
          },
          "search_term": { "type": "string" },
          "status": { "type": "integer" },
          "total_jokes": { "type": "integer" },
          "total_pages": { "type": "integer" }
        }
      }
    }
  }
}
